{
    "$schema": "https://json.schemastore.org/swcrc",
    "exclude": [
        "node_modules",
        "jest.config.ts",
        "mysql",
        ".vscode",
        "coverage",
        "dist",
        ".eslintrc.js",
        "README.md"
    ],
    "jsc": {
        "target": "es2020",
        "transform": {
            "legacyDecorator": true,
            "decoratorMetadata": true
        },
        "externalHelpers": false,
        "parser": {
            "syntax": "typescript",
            "tsx": false,
            "decorators": true,
            "dynamicImport": false
        },
        "paths": {
            "~src/*": [
                "./src/*"
            ]
        },
        "baseUrl": ".",
        "loose": true
    },
    "module": {
        "type": "commonjs",
        "noInterop": true
    }
}